@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container {
    display: grid;
    
    text-transform: uppercase;
    grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "menu"
    "hero"
    "main"
    "imagen"
    "extra"
    "banner";
}

.item{
    font-size: 1.5rem;
}


